<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis主要配置文件 -->
<configuration>
    <!--为mapper文件parameterType配置路径别名-->
        <typeAliases>
            <typeAlias type="demo01.pojo.Dept" alias="Dept"/>
            <typeAlias type="demo01.pojo.Emp" alias="Emp"/>
        </typeAliases>
    <!--配置环境-->
    <environments default="mysql_dev">
        <!--配置mysql环境-->
        <environment id="mysql_dev">
            <!--配置事务类型-->
            <transactionManager type="JDBC"/>
            <!--配置数据源(连接池)-->
            <dataSource type="POOLED">
                <!--配置数据库基本信息-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/my_test?serverTimezone=GMT"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射配置-->
    <mappers>
        <mapper resource="demo01/dao/DeptMapper.xml"/>
        <mapper resource="demo01/dao/EmpMapper.xml"/>
    </mappers>
</configuration>