<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeptMapper">
    <insert id="addDept" parameterType="Dept">
        insert into dept(DEPTNO, DNAME, LOC) VALUES (#{deptno}, #{dname}, #{loc})
    </insert>

    <update id="updateDept" parameterType="Dept">
        update dept
        set LOC=#{loc},
            DNAME=#{dname}
        where DEPTNO=#{deptno}
    </update>

    <delete id="deleteDept" parameterType="int">
        delete from dept where DEPTNO=#{deptno}
    </delete>

    <select id="getAllDept" resultType="Dept">
        select DEPTNO, DNAME, LOC FROM dept
    </select>
    
    
    <resultMap id="deptMap" type="Dept">
        <id property="deptno" column="DEPTNO"/>
        <result property="dname" column="deptname"/>
    </resultMap>

    <select id="getAllDeptMap" resultMap="deptMap">
        select DEPTNO, DNAME deptname, LOC FROM dept
    </select>
</mapper>