<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        namespace:命名空间,区分于其他mapper;-->
<!--        parameterType:传参类型-->
<mapper namespace="EmpMapper">
    <insert id="addEmp" parameterType="Emp">
        insert into emp (EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO)
        VALUES (#{empno},#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
    </insert>

    <update id="updateEmp" parameterType="Emp">
        update emp
        set ENAME=#{ename},
            JOB=#{job},
            MGR=#{mgr},
            HIREDATE=#{hiredate},
            SAL=#{sal},
            COMM=#{comm},
            DEPTNO=#{deptno}
        where EMPNO=#{empno}
    </update>

    <delete id="deleteEmp" parameterType="int">
        delete from emp where EMPNO=#{empno}
    </delete>

    <select id="getAllEmp" resultType="Emp">
        select empno, ename, job, mgr, hiredate, sal, comm, deptno from emp
    </select>
</mapper>